main {
	display: flex;
	flex-wrap: wrap;
	max-width: 100vw;
	margin: 0 auto;
}
header {
	width: 100vw;
}
.gallery {
	width: 250px;
	order: 2;
}
article {
	width: calc(100% - 290px);
	order: 3;
}
footer {
	width: 100vw;
	order: 4;
}
@media (max-width: 800px) {
    .gallery {
        width: 100vw;
        order: 3;
    }
    article {
    	width: 100vw;
    	order: 2;
    }
}