@import url("https://fonts.googleapis.com/css?family=Lato:300,600");

body {
  font-family: "Lato", sans-serif;
}
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5vh 85vh 10vh;
  grid-template-areas: "header" "main" "footer";
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  display: table;
  background-color: transparent;
}

header {
  grid-area: header;
  text-align: center;
}

main {
  grid-area: main;
  text-align: center;
}

footer {
  grid-area: footer;
  text-align: center;
}

table#students {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

table#students td,
table#students th {
  width: 20vw;
  padding: 5px;
}

table#students td {
  border: 2px solid #eee;
}

table#students th {
  background-color: #d18293;
  border: 2px solid #cecdce;
  color: #fff;
  font-weight: 600;
}

form input {
  padding: 10px;
  width: 11vw;
}

form label {
  font-weight: 600;
  width: 5vw;
  margin-right: 15px;
  margin-left: 15px;
}

input[type="button"] {
  font-weight: 600;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 7px;
  width: 9vw;
  -webkit-appearance: none;
  margin-right: 15px;
}

ul {
  list-style-type: none;
}

#alerts {
  font-size: 14px;
  font-weight: 300;
}

.red {
  color: red;
}

.green {
  color: green;
}
